@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

:root {
    --primary-color: #333;
    --secondary-color: #EEE;
    --tertiary-color: #f86681;
}

*,
::before,
::after {
    box-sizing: border-box;
}


::after,
::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    font-family: Mukta, sans-serif;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 100%;
}

.container {
    display: block;
    width: 100%;
    height: 100%;
}

.main-timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    list-style: none;
    padding: 0;
    text-align: center;
}

/* .main-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    height: 100%;
    width: 0.4rem;
    background: var(--tertiary-color);
} */

.timeline-circle {
    padding-top: 50px;
    position: relative;
    width: 0.5rem;
    margin: 0 auto;
    background-color: var(--tertiary-color);
}

.timeline-circle::after {
    content: '';
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 10;
}

.timeline-card {
    /* flex: 1 1 50%; */
    position: relative;
    display: flex;
    bottom: 0;
    flex-direction: column;
    /* margin: 0 auto; */
    width: 20rem;
    /* height: 20rem; */
    padding: 1rem;
    background-color: #eee;
}

.timeline-circle:nth-child(even) .timeline-card {
    left: 8rem;
}

.timeline-circle:nth-child(even) .timeline-card::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: -5%;
    bottom: 5%;
    border-style: solid;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
}

.timeline-circle:nth-child(odd) .timeline-card {
    left: -28rem;
}

.timeline-circle:nth-child(odd) .timeline-card::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: -5%;
    bottom: 5%;
    border-style: solid;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent var(--secondary-color);
}